<!--<c-header class="mb-4 d-print-none" position="sticky">-->
  <ng-container>
    <c-container [fluid]="true" class="border-bottom px-4">
      <button
        [cSidebarToggle]="sidebarId"
        cHeaderToggler
        class="btn"
        toggle="visible"
        style="margin-inline-start: -14px;"
        aria-label="Toggle sidebar navigation"
      >
        <svg cIcon name="cilMenu" size="lg"></svg>
      </button>
      <c-header-nav class="d-none d-md-flex">
        <c-nav-item>
            <a cNavLink routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </c-nav-item>
        <c-nav-item>
            <a cNavLink routerLink="/profile" routerLinkActive="active">Profile</a>
        </c-nav-item>
        <c-nav-item>
            <a cNavLink routerLink="/base/liste-patients" routerLinkActive="active">Patients</a>
        </c-nav-item>
        <c-nav-item>
        <a cNavLink routerLink="/forms/liste-rdv" routerLinkActive="active">Rendez-vous</a>
    </c-nav-item>
    </c-header-nav>    
  
      <c-header-nav class="d-none d-md-flex ms-auto ">
        <a cNavLink (click)="toggleMessages()">
          <svg cIcon class="my-1" name="cilBell" size="lg"></svg>
        </a>
        <a cNavLink>
          <svg cIcon class="my-1" name="cilList" size="lg"></svg>
        </a>
       
      </c-header-nav>
  
      <div *ngIf="showMessages" class="messages-dropdown">
        <ul>
          <li *ngFor="let message of messages">{{ message.text }}</li>
        </ul>
      </div>
  
      <c-header-nav class="ms-auto ms-md-0">
        <div class="nav-item py-1">
          <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </div>
        <ng-container *ngTemplateOutlet="themeDropdown" />
        <div class="nav-item py-1">
          <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </div>
      </c-header-nav>
  
      <c-header-nav class="mx-0">
        <ng-container *ngTemplateOutlet="userDropdown" />
      </c-header-nav>
  
    </c-container>
    <c-container [fluid]="true" class="px-4">
      <c-breadcrumb-router />
    </c-container>
  </ng-container>
  <!--</c-header>-->
  
  <ng-template #userDropdown>
    <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
      <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
        <c-avatar
          shape="rounded-1"
          [size]="'md'"
          src="./assets/images/avatars/8.jpg"
          status="success"
          textColor="primary"
          alt="User avatar"
        />
      </button>
      <ul cDropdownMenu class="pt-0 w-auto">
        <li>
          <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top">
            Account
          </h6>
        </li>
        <li>
          <a cDropdownItem routerLink="/base/liste-patients">
            <svg cIcon class="me-2" name="cil-user"></svg>
            Patients
            <c-badge class="ms-2 float-end" color="info"> 42</c-badge>
          </a>
        </li>
        <li>
          <a cDropdownItem routerLink="/forms/liste-rdv">
            <svg cIcon class="me-2" name="cil-calendar"></svg>
            Rdv
            <c-badge class="ms-2 float-end" color="success">12</c-badge>
          </a>
        </li>
        <li>
          <a cDropdownItem routerLink="/notifications/certificat-medicale">
            <svg cIcon class="me-2" name="cil-print"></svg>
            Bulletins
            <c-badge class="ms-2 float-end" color="danger"> 10</c-badge>
          </a>
        </li>
        <li>
          <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2">
            Settings
          </h6>
        </li>
        <li></li>
        <li>
          <a cDropdownItem routerLink="/profile">
            <svg cIcon class="me-2" name="cilSettings"></svg>
            Profile
          </a>
        </li>

        <li>
          <hr cDropdownDivider />
        </li>
        <li>
          <a cDropdownItem routerLink="">
            <svg cIcon class="me-2" name="cilAccountLogout"></svg>
            Se Déconnecter
          </a>
        </li>
      </ul>
    </c-dropdown>
  </ng-template>
  
  <ng-template #themeDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
        <svg cIcon [name]="icons()" size="lg"></svg>
      </button>
      <div cDropdownMenu>
        @for (mode of colorModes; track mode.name) {
          <button
            (click)="colorMode.set(mode.name)"
            [active]="colorMode()===mode.name"
            [routerLink]="[]"
            cDropdownItem
            class="d-flex align-items-center"
          >
            <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
            {{ mode.text }}
          </button>
        }
      </div>
    </c-dropdown>
  </ng-template>
  
  <style>
  .messages-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0;
    top: 40px; /* Ajustez cette valeur en fonction de la position de votre icône */
    right: 10px; /* Ajustez cette valeur en fonction de la position de votre icône */
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .messages-dropdown ul {
    padding: 0;
    list-style: none; /* Suppression des points */
  }
  
  .messages-dropdown li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .messages-dropdown li:last-child {
    border-bottom: none;
  }
  </style>
  