<c-row class="g-4">
  <!-- Patients -->
  <c-col xl="2" lg="4" sm="6">
    <c-widget-stat-a
      color="primary"
      [title]="'Patients'"
    >
      <ng-template cTemplateId="widgetValueTemplate">
        87,500
        
      </ng-template>
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon height="36" name="cilPeople"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- New Patients -->
  <c-col xl="2" lg="4" sm="6">
    <c-widget-stat-a
      color="success"
      [title]="'New Patients'"
    >
      <ng-template cTemplateId="widgetValueTemplate">
        385
      </ng-template>
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon height="36" name="cilUserFollow"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Notifications -->
  <c-col xl="2" lg="4" sm="6">
    <c-widget-stat-a
      color="warning"
      [title]="'Notifications'"
    >
      <ng-template cTemplateId="widgetValueTemplate">
        1238
      </ng-template>
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon height="36" name="cilBell"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Rendez-vous -->
  <c-col xl="2" lg="4" sm="6">
    <c-widget-stat-a
      color="danger"
      [title]="'20 Rendez-vous'"
    >
      <ng-template cTemplateId="widgetValueTemplate">
        20
      </ng-template>
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon height="36" name="cilCalendar"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Bulletins -->
  <c-col xl="2" lg="4" sm="6">
    <c-widget-stat-a
      color="dark"
      [title]="'Bulletins'"
    >
      <ng-template cTemplateId="widgetValueTemplate">
        972
      </ng-template>
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon height="36" name="cilPrint"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
